<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJECT_PRG2_GrapichArt.Properties.Settings.Db_GrapichArtConnectionString"
            connectionString="Data Source=DESKTOP-4OL84HG\SQLEXPRESS;Initial Catalog=Db_GrapichArt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>